.Ügyfeleink {
    background: url(../sass/images/main/Ügyfeleink.png);
position: absolute;
background-size: no-repeat;
background-position: center;
background-size: cover;
min-width: 100%;
height: 300px;
top:540px;
}

.Ügyfeleink-row {
    margin-top: 70px;
}
.title__Ügyfeleink {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color:#FCFEFE
    
}
.text-description-Ügyfeleink {
    text-align: justify;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    align:center;
    width: 100%;
    color: #FCFEFE;
    margin: 21px 0px 60px 0px;
}
.image__Ügyfeleink {
    
}