.values {
    background-image: url(../sass/images/main/Rectangle234.jpg);
    position: absolute;
    background-size:no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100%;
    height: 400px;
    top:1870px;
}

.Értékeink-row {
    
    color: #FCFEFE;
    font-family: 'Work Sans';
   
}

.title_h{
    display: block;
    margin-left: 560px;
    margin-right: auto;
    margin-top: 170px;
    font-style: normal;
    text-align: left;
    width:293px;
    height:96px;
    
}
.title__Értékeink {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;

}
.text-descriptin-Értékeink {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.image__values {
    height: 140px;
    width: 139;
    margin-left:380px;
    margin-top: -88px;
}    
